.login-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "page page"
        "footer footer";

    grid-template-rows: 50px calc(100vh - 80px) 30px;
    grid-template-columns: 100vw;
}

.login-container > .login-container-page {
    grid-area: page;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: inset 0 0 0.5rem #636059;
}

.footer {
    grid-area: footer;
}

@media (max-width: 600px){
    .login-container{
        display: inline-block;
        width: 100vw;
        height: 100vh;
    }

    .login-container > .login-container-page {
        height: calc(100vh - 124px);
        width: 100vw;
        overflow: hidden;
    }
}

.login-page {
    padding: 20px;
}