.income-page {
    padding: 20px;
    background-color: #F2F1F0;
}

.income-page > .toolbar {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.ant-modal-body > .modal-form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;
}

.modal-form > p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}