.header {
  grid-area: header;
  height: 50px;

  background-color: #636059;

  color: #F2F1F0;

  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header > svg {
  height: 30px;
  width: 30px;
}

.account-dropdown{
  cursor: pointer;
}