.in-session-container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "menu page page"
        "menu footer footer";

    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 200px 1fr;

    height: 100vh;
}

.in-session-container > .in-session-page {
    grid-area: page;
    padding: 20px;
    height: calc(100vh - 80px);
    box-shadow: inset 0 0 0.5rem #636059;
}

.footer {
    grid-area: footer;
}

@media (max-width: 600px){
    .in-session-container{
        display: inline-block;
        width: 100vw;
        height: 100vh;
    }

    .in-session-container > .in-session-page {
        height: calc(100vh - 124px);
        width: 100vw;
        overflow: hidden;
    }
}